<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>List Ads</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


<!-- Navbar-->
<div id="navbar"></div>
<!-- Navbar -->


<div class="container">
    <div class="row">
        <!--SideBar-->
        <div id="sidebar" class="column sidebar">
            <a id="all-ads-btn" onclick="loadAllAdsList()">All Ads</a>
            <a id="basic-ads-btn" onclick="loadBasicAdsList()">Basic Ads</a>
            <a id="car-ads-btn" onclick="loadCarAdsList()">Car Ads</a>
            <a id="my-ads-btn" onclick="getMyAds()">MyAds</a>
        </div>
        <!--SideBar-->

        <!-- Ads List-->
        <div class="double-column">
            <h2 id="list-ad-title" style="padding: 0 10px 10px;margin-top: 0;"></h2>
            <ul id="ads-list"></ul>
        </div>
        <!-- Ads List-->
    </div>
</div>
<script src="list-ads.js"></script>
</body>
</html>
